APP_MODE=prod
APP_SECURITY_JWT_KEY=change-me

APP_DATA_DB_USER_DRIVER=mysql
APP_DATA_DB_USER_DSN=root:password@tcp(mysql:3306)/user?charset=utf8mb4&parseTime=True&loc=Local

APP_DATA_REDIS_ADDR=redis:6379
APP_DATA_REDIS_PASSWORD=
APP_DATA_REDIS_DB=0
